@reference "tailwindcss";

.project-gallery {
    @apply w-full overflow-auto
        scroll-smooth bg-linear-to-b from-slate-400 to-slate-800 bg-no-repeat;
    /*grid h-full w-full place-items-center overflow-auto
        bg-linear-to-b from-slate-400 to-slate-800 bg-no-repeat*/
}

.project-gallery {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.project-gallery::-webkit-scrollbar {
    display: none;
}