@reference "tailwindcss";

div {
    --portfolio-text-color-muted: #9198a1;
    --portfolio-button-color-muted: #212830;
    --portfolio-color-hovered: #2a313c;
    --contribution-color-level-0: #151b23;
    --contribution-color-level-1: #033a16;
    --contribution-color-level-2: #196c2e;
    --contribution-color-level-3: #2ea043;
    --contribution-color-level-4:  #56d364;
    --language-color-c-sharp: #178600;
    --language-color-dart: #00B4AB;
}

:deep(.border-default) {
    @apply border border-[1.5] border-(--color-muted);
}

#portfolio {
    @apply grid grid-cols-4 bg-(--color-main) md:gap-x-5 gap-y-5 overflow-auto;
}

#repositories {
    @apply grid grid-cols-2 grid-rows-2 md:col-span-3 col-span-4;
}

:deep(#profile) {
    @apply flex flex-col md:col-span-1 col-span-4;
}

:deep(#profile-name) {
    @apply text-2xl text-white font-sans font-semibold;
}

:deep(#profile-id) {
    @apply text-base text-(--portfolio-text-color-muted) font-mono font-light;
}

:deep(#follow) {
    @apply bg-(--portfolio-button-color-muted) rounded-sm text-sm text-white font-semibold;
}

:deep(#follow:hover) {
    @apply bg-(--portfolio-color-hovered);
}

:deep(.repository) {
    @apply sm:col-span-1 col-span-3;
}

:deep(.public-lable) {
    @apply rounded-lg text-xs text-(--portfolio-text-color-muted) font-medium;
}

:deep(.repository-description) {
    @apply text-sm text-(--portfolio-text-color-muted);
}

:deep(.repository-summary) {
    @apply flex space-x-1 text-sm text-(--portfolio-text-color-muted);
}

:deep(#contributions) {
    @apply flex flex-col space-y-2 md:col-span-3 md:col-start-2 col-span-4;
}

:deep(#contribution-calendar) {
    @apply grid grid-cols-55 grid-rows-9 text-xs text-white;
}

:deep(#contribution-months) {
    @apply grid grid-rows-3 row-span-7 row-start-3 col-span-2;
}

:deep(#contribution-days-of-week) {
    @apply grid grid-cols-12 row-span-2 col-span-53 col-start-3;
}

:deep(#activity) {
    @apply grid grid-flow-col grid-cols-53 grid-rows-7 col-span-53 col-start-3 row-span-7 row-start-3 gap-x-1 gap-y-1;
}
